
[submodule "submodules/shvirtd-example-python"]
	path = submodules/shvirtd-example-python
	url = https://github.com/DimOsSpb/shvirtd-example-python.git
[submodule "ansible-homeworks/05/src/playbook/roles/vector"]
	path = ansible-homeworks/05/src/playbook/roles/vector
	url = git@github.com:DimOsSpb/ansible-role-vector.git
[submodule "ansible-homeworks/05/src/playbook/roles/lighthouse"]
	path = ansible-homeworks/05/src/playbook/roles/lighthouse
	url = git@github.com:DimOsSpb/ansible-role-lighthouse.git
[submodule "ansible-homeworks/06/dimosspb_devopscourse/training"]
	path = ansible-homeworks/06/dimosspb_devopscourse/training
	url = https://github.com/DimOsSpb/my_own_collection.git
[submodule "Life-cycle/09-ci-05-teamcity/example-teamcity"]
	path = Life-cycle/09-ci-05-teamcity/example-teamcity
	url = git@github.com:DimOsSpb/example-teamcity.git
