apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      containers:
      - name: {{ .Values.name }}
        image: {{ .Values.image.name}}:{{ .Values.image.tag }}
        ports:
        - containerPort: 80
        volumeMounts:
        - name: {{ .Release.Name }}-v
          mountPath: /usr/share/nginx/html        
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
    
      volumes:
      - name: {{ .Release.Name }}-v
        configMap:
          name: {{ .Release.Name }}-vol